name: Tests
on:
  push:
    branches:
    - master
    - dev
  pull_request
    branches:
    - master
    - dev
jobs:
  Test:
    runs-on: ubuntu-latest
    name: Unit tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Lua
        uses: leafo/gh-actions-lua@v10.0.0
      - name: Install LuaRocks
        uses: leafo/gh-actions-luarocks@v4.3.0
      - name: install necessary rocks
        run: |
          luarocks install busted
          luarocks install matcher_combinators
      - name: Busted Tests
        run: |
          busted
